/** PREFIX TAGLINE **/

.prefix-tagline {
  @apply text-lg relative font-semibold;
  padding-left: 70px;
}

body.light-mode .prefix-tagline {
  @apply text-black;
}

body.dark-mode .prefix-tagline {
  @apply text-lg relative text-gray-400;
}

.prefix-tagline:before {
  @apply block absolute border-t-2;
  content: "";
  width: 48px;
  left: 0px;
  top: 12px;
}

body.light-mode .prefix-tagline:before {
  @apply border-gray-800;
}

body.dark-mode .prefix-tagline:before {
  @apply border-gray-100;
}

/** HERO HEADING & TAGLINES **/

h2 {
  @apply text-3xl lg:text-5xl font-bold mt-8;
  @apply text-center lg:text-left;
}

.tagline-1 {
  @apply text-blue-400;
}

.tagline-2 {
  @apply text-orange-400;
}

.tagline-3 {
  @apply text-green-400;
}

.call-to-action {
  @apply flex flex-row w-full items-center;
  @apply text-center text-lg font-bold mt-24;
}

body.light-mode .call-to-action {
  @apply text-gray-900;
}

body.dark-mode .call-to-action {
  @apply text-gray-200;
}

.call-to-action p {
  @apply mr-2 transition-all cursor-pointer;
}

.call-to-action p:hover {
  @apply mr-3;
}

.call-to-action__icon {
  @apply h-8;
  @apply transition-all;
}
